//////////////////////////////////////
// Fonts ////////////////////////////
////////////////////////////////////
$header-font: 'Comfortaa', cursive;
$main-font: 'Open Sans', sans-serif;

///////////////////////////////////
// Values ////////////////////////
/////////////////////////////////
$button-color: #48182c;
$button-hover-color: #903259;
$header-block-color: #72cac8;
$map-height: 625px;
